@import '_rem';
@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

*
{
    box-sizing: inherit;
    font-family: 'Open Sans', sans-serif;
    color: $color-dark;
    font-size: rem(24);
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection
{
    background-color: $color-dark;
    color: $color-light;
}

html,
body
{
    box-sizing: border-box;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    background-color: $color-light;
}