@import '_rem';
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*
{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-decoration: none;
    list-style: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection
{
    background-color: black;
    color: white;
}

html,
body
{
    background-color: $background;
}

body
{
    display: flex;
    flex-direction: column;
    gap: rem(48);
    padding: rem(64) rem(32);
}

div
{
    display: block;
    width: rem(64);
    height: rem(48);
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('assets/img/logo.svg');
}

hr
{
    display: block;
    margin: 0 auto;
    height: rem(4);
    width: 100%;
    max-width: rem(800);
    border: none;
    background-color: $separator;
    box-shadow: 0px 4px 0px 0px $shadow;
}

ul
{
    display: flex;
    flex-direction: column;
    gap: rem(24);
    margin: 0 auto;
    width: 100%;
    max-width: rem(800);

    li
    {
        a
        {
            font-size: rem(48);
            color: $text;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            line-height: 1;
            text-decoration: none;
            text-shadow: rem(4) rem(4) rem(0) $shadow;

            &:hover
            {
                text-decoration: underline;
                text-decoration-thickness: rem(4);
                text-underline-offset: rem(6);
                text-shadow: rem(4) rem(4) rem(0) $shadow;
                animation: link-animation 4s infinite;
            }
        }
    }
}

@keyframes link-animation {
  0% {
    color: hsl(0, 100%, 64%);
  }
  25% {
    color: hsl(90, 100%, 64%);
  }
  50% {
    color: hsl(180, 100%, 64%);
  }
  75% {
    color: hsl(270, 100%, 64%);
  }
  100% {
    color: hsl(360, 100%, 64%);
  }
}
