@import '_rem';
@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*
{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-decoration: none;
    list-style: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection
{
    background-color: black;
    color: white;
}

html,
body
{
    background-color: $color-background;
}

ul
{
    padding: rem(16) rem(32);

    li
    {
        padding: rem(8) rem(0);

        a
        {
            font-family: 'Montserrat', sans-serif;
            font-size: rem(64);
            color: $color-text-primary;

            &:hover
            {
                text-decoration: underline;
                text-underline-offset: rem(4);
            }
        }
    }
}

canvas
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
